@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(menu.css);
@import url(banner.css);
@import url(autos.css);
@import url(info.css);

*{
	
	margin: 0;
	padding: 0;
	box-sizing; border-box;

}

body{
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin: auto;

}

h1{
	float: left;
}

header .contenedor{

float: table;
}

section{
	width: 100%;
	margin-bottom: 25px;
}


#Bienvenidos{
	text-align: center;
}

.footer-container{
	width: 100%;
	background: #272727;
	color: #fff;

}


.footer-main{
	width: 98%;
     max-width: 1000px;
     margin: auto;
     padding: 50px 0;
     display: flex;
     flex wrap: wrap;


}

.footer-main .footer-columna{
	width: calc(100% /2);
	text-align: justify;
}

.footer-main .footer-columna:nth-child(1n){
	padding:0 30px ;

}

.footer-container .footer-columna h3{
	font-size: 32px;
	color: #00C6EE;
	margin-bottom: 20px;

}





.footer-container .footer-main .footer-colunma h3{
font-size: 32px;
	color: #00C6EE;
	margin-bottom: 20px;
}

.main-copy-redes{
	width: 98%;
	max-width: 1000px;
	padding: 30px 0;
	margin: auto;
	display: flex;
	flex wrap: wrap;
	justify-content: space-between;
	-ms-alingn-items:center;
	aling-items:center;
}

.main-copy-redes .footer-copy{
	width: 70%;
    color: #fff;
}

.main-copy-redes .footer-redes{
	width: 30%;
	display: flex;
	flex wrap: wrap;
	justify-content: space-between;

}



.main-copy-redes .footer-redes{
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  text-align: center;

}

@media screen and (max-width: 750px){
	.info-main{
		padding: 30px 10px;

	}
	.footer-main .footer-columna{
		padding: 0 10px;
	}
	.footer-main .footer-columna h3{
		font-size: 28px;
	}

	.footer-main .footer-columna p{
		font-size: 14px;
	}
}
